- model_class = Reply


/最新回帖，取前5条
- content_for :sidebar do
  .well-small
    %h3 *最新发布的帖子*
    - @top_posts.each do |post|
      = link_to post.title, post_replies_path(post)
      %br

%ul.breadcrumb
  %li
    = link_to Subject.model_name.human, subjects_path
    %span.divider /
  %li
    = link_to @post.subject.title, subject_posts_path(@post.subject)
    %span.divider /
  %li.active
    = t @post.title

#replies
  %ul.unstyled
    %li.post
      .post-title= @post.title
      %h6.create-time
        = image_tag @post.user.gravatar_url(:size => 20) 
        - if current_user and current_user == @post.user
          = t('creator')
        - else
          = @post.user.username
        = t('created_at')
        =l @post.created_at
      .post-content
        = @post.content.html_safe
    - @replies.each do |reply|
      %li.reply
        .content= reply.content.html_safe
        .action
          %h6
            = image_tag reply.user.gravatar_url(:size => 20) 
            - if current_user and current_user == reply.user
              = t('creator')
            - else
              = reply.user.username
            = t('created_at')
            =l reply.created_at
            - if current_user and current_user == reply.user
              = link_to t('edit'), edit_post_reply_path(@post, reply), class: 'btn btn-mini'
              = link_to t('destroy'), post_reply_path(@post, reply), method: :delete, confirm: t('confirm'), class: 'btn btn-mini btn-danger'

= paginate @replies

#reply-post
  = simple_form_for @reply, url: post_replies_path(@post), html: { class: 'form-vertical'} do |f|
    = render partial: 'form', locals: { f: f } 
