<!DOCTYPE html>
%html{ lang: 'en' }
  %head
    %meta{charset: 'utf-8'}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=Edge,chrome=1"}
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %title
      = content_for?(:title) ? yield(:title) : "神路信息资源管理"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render partial: 'layouts/top_header'

    .container
      - flash.each do |name, msg|
        .alert{ class: "alert-#{name == :notice ? 'success' : 'error'}" }
          %button{ type: "button", class: "close", "data-dismiss" => "alert" } x
          = msg
      .content
        .row
          .span9.main
            = yield
          .span3
            .sidebar-publish= yield :sidebar_publish
            .sidebar= yield :sidebar
      %footer
        %p &copy; 2012 武汉神路信息咨询有限公司

    %script hljs.initHighlightingOnload();



